body
{
    color: #063040;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    background-image: url(https://wallpaperaccess.com/full/29262.jpg);
=======
    background-image: url(https://wallpapercave.com/wp/X49EwD0.jpg);
>>>>>>> 12f179087985cef4f5c5771814406e592b4c35d6
    background-size: cover;
}

#cabecera
{
    background: #063040;
    color: #ffce3f;
    font-weight: bold;
    margin: 0;
    padding: 0.9em;
}

#cabecera #tagline
{
    font-weight: normal;
    font-size: 0.9em;
}

#container
{
    width: 60%;
    padding: 2em;
    text-align: left;
<<<<<<< HEAD
    border: 1px solid #DDD;
    margin: 20px auto;
=======
    border: 3px solid whitesmoke;
    margin: 0 auto;
>>>>>>> 12f179087985cef4f5c5771814406e592b4c35d6
}

#container h1
{
    font-size: 20px;
}