body
{
    color: #063040;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-image: url(https://wallpapercave.com/wp/X49EwD0.jpg);
    background-size: cover;
}

#cabecera
{
    background: #063040;
    color: #ffce3f;
    font-weight: bold;
    margin: 0;
    padding: 0.9em;
}

#cabecera #tagline
{
    font-weight: normal;
    font-size: 0.9em;
}

#container
{
    width: 60%;
    padding: 2em;
    text-align: left;
    border: 3px solid whitesmoke;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}